#mandelbrotContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    color: white;
}
