#mandelbrotContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 30%;
    width: 36%;
    color: white;
    padding: 0 15px;
}

#title {
    text-align: center;
    color: white;
    font-size: 36px;
}

#titleInstructions {
    color: lightgrey;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
}

.controlContainer {
    border: 1px solid white;
    padding: 15px;
    background-color: rgb(40,40,40);
    margin-bottom: 10px;
}

.controlCounter {
    font-size: 18px;
    margin-bottom: 20px;
}

.propertyHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.propertyResetButton {
    border: 1px solid white;
    max-height: 30px;
    padding: 5px;
    margin-left: 5px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: 400;
}

.propertyResetButton:hover {
    cursor: pointer;
    background-color: rgb(70,70,70);
}

#iterationsHeaderRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

#autoCheckboxContainer {
    position: relative;
    margin-right: 10px;
}

#autoCheckbox {
    position: relative;
    margin: 0 8px;
}

#presetLabel {
    font-size: 16px;
    margin-right: 10px;
    margin-left: 2px;
}

#customLabel {
    position: relative;
    top: -13px;
    font-size: 16px;
}

.controlSlider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.leftSliderLabel {
    font-size: 16px;
    margin-right: 22px;
}

.rightSliderLabel {
    font-size: 16px;
    margin-left: 22px;
}

.controlDescription {
    font-size: 14px;
    margin-top: 20px;
}

#colorResetButton {
    position: relative;
    top: -13px;
    border: 1px solid white;
    padding: 5px;
    margin-left: 5px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: 400;
}

#colorResetButton:hover {
    cursor: pointer;
    background-color: rgb(70,70,70);
}

#startOverButton {
    width: 20%;
    margin: 0 auto;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    background-color:rgb(50,50,50);
}

#startOverButton:hover {
    cursor: pointer;
    background-color: rgb(70,70,70);
}

#colorBoxArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.colorBoxContainer {
    font-size: 14px;
    text-align: center;
}

.colorBox {
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 10px auto;
    border: 2px solid white;
}

.colorBox:hover { 
    cursor: pointer;
}

.colorBoxContainer:hover .dropdownColorPicker {
    display: block;
}

.dropdownColorPicker {
    display: none;
    position: relative;
    bottom: 235px;
    right: 90px;
    z-index: 1;
}

#helpNotice {
    text-align: center;
    font-size: 14px;
    color: lightgrey;
}
