#mandelbrotContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 27%;
    color: white;
}

#iterationSliderContainer {
    border: 1px solid white;
    padding: 15px;
    background-color: rgb(40,40,40);
}

#iterationCounter {
    font-size: 20px;
    margin-bottom: 24px;
}

#iterationSlider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

#leftSliderLabel {
    font-size: 16px;
    margin-right: 22px;
}

#rightSliderLabel {
    font-size: 16px;
    margin-left: 22px;
}

#iterationDescription {
    font-size: 14px;
    margin-top: 20px;
}
